@model IEnumerable<Booking.Model.Hotel>
@{
    ViewData["Title"] = "Index";
}

<h1>Hotel List</h1>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">City</label>
            <select name="sCity" id="sCity" class="form-control" asp-items="ViewBag.City"></select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Country</label>
            <select name="sCountry" id="sCountry" class="form-control" asp-items="ViewBag.Country"></select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Rating</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="number" name="sRF" id="sRF" class="form-control" />
                </div>
                <div class="col-md-2">
                    TO
                </div>
                <div class="col-md-5">
                    <input type="number" name="sRT" id="sRT" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <br />
            <input type="button" id="btnSearchHotelList" value="Search" class="btn btn-sm btn-primary" />
        </div>
    </div>
</div>
<hr />
<div id="dvViewAll">
    @await Html.PartialAsync("_viewAll",Model)
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

